html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container-fluid{
    background-color: black;
    height: 100vh;
}

#name{
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
}

#desc{
    font-family: Montserrat;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #01BBC1;
}

